<%# locals: (business:) %>

<dl id="<%= dom_id business %>" class="description-list">
  <div class="description-list__item">
    <dt class="description-list__term"><%= t(".description") %></dt>
    <dd class="description-list__definition"><%= business.description %></dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term"><%= t(".name") %></dt>
    <dd class="description-list__definition"><%= business.name %></dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term"><%= t(".slug") %></dt>
    <dd class="description-list__definition"><%= business.slug %></dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term"><%= t(".visible") %></dt>
    <dd class="description-list__definition">
      <%= business.visible? ? t("application.yes") : t("application.no") %>
    </dd>
  </div>
</dl>
