<%# locals: (catalog:, property_group:) %>

<%= errable_form_with model: [catalog, property_group], class: "form" do |form| %>
  <div class="form__group">
    <%= form.label :name, class: "form__label" %>
    <%= form.text_field :name, class: "form__input" %>
    <%= form.error :name, "form__error" %>
  </div>

  <footer class="form__footer">
    <%= link_to "Cancel",
            (
              if property_group.persisted?
                [catalog, property_group]
              else
                catalog_property_groups_path(catalog)
              end
            ),
            class: "button" %>

    <%= form.submit "Save", class: "button button--action" %>
  </footer>
<% end %>
