<%# locals: (catalog:, option_group:) %>

<%= errable_form_with model: [catalog, option_group], class: "form" do |form| %>
  <div class="form__group">
    <%= form.label :maximum_selections, class: "form__label" %>
    <%= form.number_field :maximum_selections, class: "form__input" %>
    <%= form.error :maximum_selections, "form__error" %>
  </div>

  <div class="form__group">
    <%= form.label :minimum_selections, class: "form__label" %>
    <%= form.number_field :minimum_selections, class: "form__input" %>
    <%= form.error :minimum_selections, "form__error" %>
  </div>

  <div class="form__group">
    <%= form.label :name, class: "form__label" %>
    <%= form.text_field :name, class: "form__input" %>
    <%= form.error :name, "form__error" %>
  </div>

  <div class="form__group form__group--inline">
    <%= form.checkbox :visible, class: "form__checkbox" %>
    <%= form.label :visible, class: "form__label" %>
    <%= form.error :visible, "form__error" %>
  </div>

  <footer class="form__footer">
    <%= link_to "Cancel",
            (
              if option_group.persisted?
                [catalog, option_group]
              else
                catalog_option_groups_path(catalog)
              end
            ),
            class: "button" %>

    <%= form.submit "Save", class: "button button--action" %>
  </footer>
<% end %>
