<%# locals: (business:, product:, option_group:) %>

<%= errable_form_with model: [business, product, option_group], class: "form" do |form| %>
  <div class="form__group">
    <%= form.label :maximum_selections, class: "form__label" %>
    <%= form.number_field :maximum_selections, class: "form__input" %>
    <%= form.error :maximum_selections, "form__error" %>
  </div>

  <div class="form__group">
    <%= form.label :minimum_selections, class: "form__label" %>
    <%= form.number_field :minimum_selections, class: "form__input" %>
    <%= form.error :minimum_selections, "form__error" %>
  </div>

  <div class="form__group">
    <%= form.label :name, class: "form__label" %>
    <%= form.text_field :name, class: "form__input" %>
    <%= form.error :name, "form__error" %>
  </div>

  <footer class="form__footer">
    <%= link_to t("application.cancel"), [business, product], class: "button" %>
    <%= form.submit t("application.save"), class: "button button--action" %>
  </footer>
<% end %>
