<%= turbo_frame_tag option_group do %>
  <div class="card mb-6">
    <div class="card__body">
      <dl id="<%= dom_id option_group %>" class="description-list">
        <div class="description-list__item">
          <dt class="description-list__term">
            Visible?
          </dt>
          <dd class="description-list__definition">
            <%= option_group.visible? ? "Yes" : "No" %>
          </dd>
        </div>

        <div class="description-list__item">
          <dt class="description-list__term">
            Name
          </dt>
          <dd class="description-list__definition">
            <%= option_group.name %>
          </dd>
        </div>

        <div class="description-list__item">
          <dt class="description-list__term">
            Min choices
          </dt>
          <dd class="description-list__definition">
            <%= option_group.min_choices %>
          </dd>
        </div>

        <div class="description-list__item">
          <dt class="description-list__term">
            Max choices
          </dt>
          <dd class="description-list__definition">
            <%= option_group.max_choices %>
          </dd>
        </div>
      </dl>

      <%= turbo_frame_tag :options do %>
        <% option_group.options.each do |option| %>
          <%= render option %>
        <% end %>
      <% end %>

      <%= turbo_frame_tag Option.new %>
    </div>

    <footer class="card__footer card__footer--end">
      <%= button_to "Destroy option group", product_option_group_path(@product, option_group), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "button button--danger" %>
      <%= link_to "Edit option group", edit_product_option_group_path(@product, option_group), data: { turbo_frame: dom_id(option_group) }, class: "button" %>
      <%= link_to "New option", new_product_option_group_option_path(@product, option_group), data: { turbo_frame: dom_id(Option.new) }, class: "button button--action" %>
    </footer>
  </div>
<% end %>
