<% content_for :title, "Option Groups" %>

<details class="card">
  <summary class="card__header">
    <h2 class="card__heading">Option Group Filters</h2>
    <p class="card__description">
      Filter your option groups by attributes below.
    </p>
  </summary>

  <div class="card__body">
    <%= search_form_for [@business, @q], html: { class: "form" } do |form| %>
      <div class="form__group">
        <%= form.label :maximum_selections_eq, class: "form__label" %>
        <%= form.search_field :maximum_selections_eq, class: "form__input" %>
      </div>

      <div class="form__group">
        <%= form.label :minimum_selections_eq, class: "form__label" %>
        <%= form.search_field :minimum_selections_eq, class: "form__input" %>
      </div>

      <div class="form__group">
        <%= form.label :name_start, class: "form__label" %>
        <%= form.search_field :name_start, class: "form__input" %>
      </div>

      <div class="form__group">
        <%= form.label :created_at_gteq, class: "form__label" %>
        <%= form.date_field :created_at_gteq, class: "form__input" %>
      </div>

      <div class="form__group">
        <%= form.label :updated_at_gteq, class: "form__label" %>
        <%= form.date_field :updated_at_gteq, class: "form__input" %>
      </div>

      <footer class="form__footer">
        <%= link_to "Reset", business_option_groups_path(@business), class: "button" %>
        <%= form.submit "Filter", class: "button button--action" %>
      </footer>
    <% end %>
  </div>
</details>

<section class="card">
  <header class="card__header card__header--with-actions">
    <div>
      <h2 class="card__heading">Option Groups</h2>
      <p class="card__description">Here is a list of all your option groups.</p>
    </div>

    <div class="card__actions">
      <%= link_to "New",
              new_business_option_group_path(@business),
              class: "button button--action" %>
    </div>
  </header>

  <div class="card__body">
    <div class="table__wrapper">
      <table class="table">
        <thead>
          <tr class="table__head-row">
            <th class="table__head-cell">ID</th>
            <th class="table__head-cell">
              <%= sort_link(@q, :maximum_selections, class: "table__head-cell-link group") %>
            </th>
            <th class="table__head-cell">
              <%= sort_link(@q, :minimum_selections, class: "table__head-cell-link group") %>
            </th>
            <th class="table__head-cell">
              <%= sort_link(@q, :name, class: "table__head-cell-link group") %>
            </th>
            <th class="table__head-cell">
              <%= sort_link(@q, :visible, class: "table__head-cell-link group") %>
            </th>
            <th class="table__head-cell">
              <%= sort_link(@q, :created_at, class: "table__head-cell-link group") %>
            </th>
            <th class="table__head-cell">
              <%= sort_link(@q, :updated_at, class: "table__head-cell-link group") %>
            </th>
            <th class="table__head-cell">Options</th>
            <th class="table__head-cell"></th>
          </tr>
        </thead>
        <tbody class="table__body">
          <% @option_groups.each do |option_group| %>
            <tr class="table__body-row">
              <td class="table__body-cell table__body-cell--numeric">
                <%= option_group.id %>
              </td>
              <td class="table__body-cell table__body-cell--numeric">
                <%= option_group.maximum_selections %>
              </td>
              <td class="table__body-cell table__body-cell--numeric">
                <%= option_group.minimum_selections %>
              </td>
              <td class="table__body-cell"><%= option_group.name %></td>
              <td class="table__body-cell">
                <%= option_group.visible? ? "Yes" : "No" %>
              </td>
              <td class="table__body-cell table__body-cell--numeric">
                <%= option_group.options.count %>
              </td>
              <td class="table__body-cell"><%= option_group.created_at %></td>
              <td class="table__body-cell"><%= option_group.updated_at %></td>
              <td class="table__body-cell table__body-cell--actions">
                <%= link_to "Show", [@business, option_group] %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <footer class="card__footer card__footer--end">
    <%== pagy_nav(@pagy) %>
  </footer>
</section>
