<%# locals: (catalog:, product:, product_option_group:) %>

<%= errable_form_with model: [catalog, product, product_option_group],
                  class: "form" do |form| %>
  <div class="form__group">
    <%= form.label :option_group_id, "Option group", class: "form__label" %>
    <%= form.collection_select :option_group_id,
                           catalog.option_groups,
                           :id,
                           :name,
                           {},
                           autofocus: true,
                           class: "form__input" %>

    <%= form.error :option_group_id, "form__error" %>
  </div>

  <footer class="form__footer">
    <%= link_to "Cancel", [catalog, product], class: "button" %>
    <%= form.submit "Add", class: "button button--action" %>
  </footer>
<% end %>
