<%# locals: (catalog:, property_group:, property:) %>

<%= errable_form_with model: [catalog, property_group, property], class: "form" do |form| %>
  <div class="form__group">
    <%= form.label :name, class: "form__label" %>
    <%= form.text_field :name, autofocus: true, class: "form__input" %>
    <%= form.error :name, "form__error" %>
  </div>

  <footer class="form__footer">
    <%= link_to "Cancel", [catalog, property_group], class: "button" %>
    <%= form.submit "Save", class: "button button--action" %>
  </footer>
<% end %>
