<%# locals: (business:, product:, variant:) %>

<%= errable_form_with model: [business, product, variant],
                  class: "table__body-row table__divider form form--grid" do |form| %>
  <% business.property_groups.each_with_index do |property_group, index| %>
    <div class="table__body-cell table__body-cell--center form__group">
      <%= form.collection_select :property_ids,
                             property_group.properties,
                             :id,
                             :name,
                             {},
                             id: "variant_property_ids_#{index}",
                             name: "variant[property_ids][]",
                             class: "form__input" %>

      <%= form.error :property_ids, "form__error" %>
    </div>
  <% end %>

  <div class="table__body-cell table__body-cell--center form__group">
    <%= form.text_field :code, autofocus: true, class: "form__input" %>
  </div>

  <div
    data-controller="currency"
    data-currency-currency-value="<%= Money.default_currency.iso_code %>"
    data-currency-locale-value="<%= I18n.locale %>"
    class="table__body-cell table__body-cell--center table__body-cell--numeric form__group"
  >
    <%= form.hidden_field :price, id: nil, data: { "currency-target": "hidden" } %>
    <input
      id="variant_price"
      data-currency-target="input"
      data-action="currency#format"
      inputmode="numeric"
      class="form__input"
    />
  </div>

  <div
    class="table__body-cell table__body-cell--center table__body-cell--numeric form__group"
  >
    <%= form.number_field :stock_quantity, class: "form__input" %>
  </div>

  <div
    class="table__body-cell table__body-cell--center form__group form__group--inline"
  >
    <%= form.checkbox :visible, class: "form__checkbox" %>
    <%= form.label :visible, class: "form__label" %>
  </div>

  <div
    class="table__body-cell table__body-cell--center table__body-cell--actions gap-2"
  >
    <%= link_to "Cancel", [business, product], class: "button" %>
    <%= form.submit "Save", class: "button button--action" %>
  </div>
<% end %>
