<%# locals: (business:, product:, product_property_group:) %>

<%= errable_form_with model: [business, product, product_property_group],
                  class: "form" do |form| %>

  <div class="form__group">
    <%= form.label :property_group_id, "Property group", class: "form__label" %>
    <%= form.collection_select :property_group_id,
                           business.property_groups,
                           :id,
                           :name,
                           {},
                           autofocus: true,
                           class: "form__input" %>

    <%= form.error :property_group_id, "form__error" %>
  </div>

  <footer class="form__footer">
    <%= link_to "Cancel", [business, product], class: "button" %>
    <%= form.submit "Add", class: "button button--action" %>
  </footer>
<% end %>
