<%= turbo_frame_tag option_type do %>
  <p>
    <strong>Visible:</strong>
    <%= option_type.visible? ? "Yes" : "No" %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= option_type.name %>
  </p>

  <p>
    <strong>Min choices:</strong>
    <%= option_type.min_choices %>
  </p>

  <p>
    <strong>Max choices:</strong>
    <%= option_type.max_choices %>
  </p>

  <%= link_to "Edit", edit_product_option_type_path(@product, option_type), data: { turbo_frame: dom_id(option_type) } %>
  <%= button_to "Destroy", product_option_type_path(@product, option_type), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>
