<hr>

<%= turbo_frame_tag option_type do %>
  <p>
    <strong>Visible:</strong>
    <%= option_type.visible? ? "Yes" : "No" %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= option_type.name %>
  </p>

  <p>
    <strong>Min choices:</strong>
    <%= option_type.min_choices %>
  </p>

  <p>
    <strong>Max choices:</strong>
    <%= option_type.max_choices %>
  </p>

  <%= turbo_frame_tag OptionValue.new do %>
    <%= link_to "New option value", new_product_option_type_option_value_path(@product, option_type), data: { turbo_frame: dom_id(OptionValue.new) } %>
  <% end %>

  <%= turbo_frame_tag :option_values do %>
    <% option_type.option_values.each do |option_value| %>
      <%= render option_value %>
    <% end %>
  <% end %>

  <br>

  <%= link_to "Edit", edit_product_option_type_path(@product, option_type), data: { turbo_frame: dom_id(option_type) } %>
  <%= button_to "Destroy", product_option_type_path(@product, option_type), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>

<hr>
