<%# locals: (business:, category:) %>

<dl id="<%= dom_id category %>" class="description-list">
  <div class="description-list__item">
    <dt class="description-list__term"><%= t(".description") %></dt>
    <dd class="description-list__definition"><%= category.description %></dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term"><%= t(".name") %></dt>
    <dd class="description-list__definition"><%= category.name %></dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term"><%= t(".visible") %></dt>
    <dd class="description-list__definition">
      <%= category.visible? ? t("application.yes") : t("application.no") %>
    </dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term"><%= t(".products") %></dt>
    <dd class="description-list__definition">
      <span>
        <%= safe_join(
          category.products.map { |product| link_to product.name, [business, product] },
          ", "
        ) %>
      </span>

      <%= link_to t(".actions.new_product"),
              new_business_product_path(business),
              class: "button button--action mt-4" %>
    </dd>
  </div>
</dl>
