<div id="<%= dom_id category %>">
  <p>
    <strong>Visible:</strong>
    <%= category.visible? ? "Yes" : "No" %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= category.description %>
  </p>

  <p>
    <strong>Products:</strong>
    <nav>
      <ul>
        <% category.products.each do |product| %>
          <li><%= link_to product.name, product %></li>
        <% end %>
      </ul>
    </nav>
  </p>
</div>
