<dl id="<%= dom_id category %>" class="description-list">
  <div class="description-list__item">
    <dt class="description-list__term">
      Visible?
    </dt>
    <dd class="description-list__definition">
      <%= category.visible? ? "Yes" : "No" %>
    </dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">
      Name
    </dt>
    <dd class="description-list__definition">
      <%= category.name %>
    </dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">
      Description
    </dt>
    <dd class="description-list__definition">
      <%= category.description %>
    </dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">
      Products
    </dt>
    <dd class="description-list__definition">
      <%= safe_join(category.products.map { |product| link_to product.name, product }, ", ") %>
    </dd>
  </div>
</dl>
