<%= custom_form_with model: category, class: "form" do |form| %>
  <div class="form__group form__group--inline">
    <%= form.checkbox :visible, class: "form__checkbox" %>
    <%= form.label :visible, class: "form__label" %>
    <%= form.error :visible, "form__error" %>
  </div>

  <div class="form__group">
    <%= form.label :name, class: "form__label" %>
    <%= form.text_field :name, class: "form__input" %>
    <%= form.error :name, "form__error" %>
  </div>

  <div class="form__group">
    <%= form.label :description, class: "form__label" %>
    <%= form.text_area :description, class: "form__input" %>
    <%= form.error :description, "form__error" %>
  </div>

  <footer class="form__footer">
    <%= link_to "Cancel", category.persisted? ? category : categories_path, class: "button" %>
    <%= form.submit nil, class: "button button--action" %>
  </footer>
<% end %>
