<% content_for :title, "Categories" %>

<h1>Categories</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name_start %>
  <%= f.search_field :name_start %>

  <%= f.label :description_start %>
  <%= f.search_field :description_start %>

  <%= f.label :created_at_gteq %>
  <%= f.date_field :created_at_gteq %>

  <%= f.label :updated_at_gteq %>
  <%= f.date_field :updated_at_gteq %>

  <%= f.submit %>
  <%= link_to "Reset", categories_path %>
<% end %>

<table id="categories">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= sort_link(@q, :visible, "Visible?") %></th>
      <th><%= sort_link(@q, :name, "Name") %></th>
      <th><%= sort_link(@q, :description, "Description") %></th>
      <th><%= sort_link(@q, :created_at, "Created at") %></th>
      <th><%= sort_link(@q, :updated_at, "Updated at") %></th>
      <th>Products count</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.visible? ? "Yes" : "No" %></td>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= category.created_at %></td>
        <td><%= category.updated_at %></td>
        <td><%= category.products.count %></td>
        <td><%= link_to "Show this category", category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_nav(@pagy) %>

<%= link_to "New category", new_category_path %>
