<% content_for :title, @category.name %>

<section class="card">
  <header class="card__header card__header--with-actions">
    <div>
      <h2 class="card__heading"><%= t(".header.heading") %></h2>
      <p class="card__description"><%= t(".header.description") %></p>
    </div>

    <div class="card__actions">
      <%= link_to t(".actions.edit_category"),
              edit_business_category_path(@business, @category),
              class: "button button--action" %>
    </div>
  </header>

  <div class="card__body">
    <%= render "categories/category", business: @business, category: @category %>
  </div>

  <footer class="card__footer">
    <div class="card__footer--end">
      <%= link_to t("application.return"),
              business_categories_path(@business),
              class: "button" %>

      <%= button_to t(".actions.destroy_category"),
                [@business, @category],
                method: :delete,
                data: {
                  turbo_confirm: t("application.destroy_confirm")
                },
                class: "button button--danger" %>
    </div>
  </footer>
</section>
