<% content_for :title, @category.name %>

<section class="card">
  <header class="card__header card__header--with-actions">
    <div>
      <h2 class="card__heading">Category Details</h2>
      <p class="card__description">See the details of your category below.</p>
    </div>

    <div class="card__actions">
      <%= link_to "Edit",
              edit_catalog_category_path(@catalog, @category),
              class: "button button--action" %>
    </div>
  </header>

  <div class="card__body">
    <%= render "categories/category", catalog: @catalog, category: @category %>
  </div>

  <footer class="card__footer">
    <div class="card__footer--end">
      <%= link_to "Return", catalog_categories_path(@catalog), class: "button" %>
      <%= button_to "Destroy",
                [@catalog, @category],
                method: :delete,
                data: {
                  turbo_confirm: "Are you sure you want to destroy this category?",
                },
                class: "button button--danger" %>
    </div>
  </footer>
</section>

<details class="card">
  <summary class="card__header card__header--with-actions">
    <div>
      <h2 class="card__heading">Products</h2>
      <p class="card__description">
        Here is a list of all associated products.
      </p>
    </div>

    <div class="card__actions">
      <%= link_to "New",
              new_catalog_product_path(@catalog),
              class: "button button--action" %>
    </div>
  </summary>

  <div class="card__body">
    <%= safe_join(
      @category.products.map do |product|
        link_to product.name, [@catalog, product]
      end,
      ", ",
    ) %>
  </div>
</details>
