<%# locals: (business:, product:) %>

<%= errable_form_with model: [business, product], multipart: true, class: "form" do |form| %>
  <div class="form__group form__group--inline">
    <%= form.checkbox :adult_only, class: "form__checkbox" %>
    <%= form.label :adult_only, class: "form__label" %>
    <%= form.error :adult_only, "form__error" %>
  </div>

  <div class="form__group">
    <%= form.label :available_from, class: "form__label" %>
    <%= form.datetime_local_field :available_from, class: "form__input" %>
    <%= form.error :available_from, "form__error" %>
  </div>

  <div class="form__group">
    <%= form.label :available_until, class: "form__label" %>
    <%= form.datetime_local_field :available_until, class: "form__input" %>
    <%= form.error :available_until, "form__error" %>
  </div>

  <div class="form__group">
    <%= form.label :code, class: "form__label" %>
    <%= form.text_field :code, class: "form__input" %>
    <%= form.error :code, "form__error" %>
  </div>

  <div class="form__group">
    <%= form.label :description, class: "form__label" %>
    <%= form.text_area :description, class: "form__input" %>
    <%= form.error :description, "form__error" %>
  </div>

  <div class="form__group form__group--inline">
    <%= form.checkbox :featured, class: "form__checkbox" %>
    <%= form.label :featured, class: "form__label" %>
    <%= form.error :featured, "form__error" %>
  </div>

  <div class="form__group">
    <%= form.label :name, class: "form__label" %>
    <%= form.text_field :name, class: "form__input" %>
    <%= form.error :name, "form__error" %>
  </div>

  <div
    data-controller="currency"
    data-currency-currency-value="<%= Money.default_currency.iso_code %>"
    data-currency-locale-value="<%= I18n.locale %>"
    class="form__group"
  >
    <%= form.label :price, class: "form__label" %>
    <%= form.hidden_field :price, data: { "currency-target": "hidden" }, id: nil %>
    <input
      id="product_price"
      data-currency-target="input"
      data-action="currency#format"
      inputmode="numeric"
      class="form__input"
    />
    <%= form.error :price, "form__error" %>
  </div>

  <div class="form__group form__group--inline">
    <%= form.checkbox :visible, class: "form__checkbox" %>
    <%= form.label :visible, class: "form__label" %>
    <%= form.error :visible, "form__error" %>
  </div>

  <div data-controller="image-preview" class="form__group">
    <%= form.label :images, class: "form__label" %>
    <%= form.file_field :images,
                    data: {
                      image_preview_target: "input",
                      action: "change->image-preview#preview"
                    },
                    accept: "image/jpeg, image/png, image/webp",
                    multiple: true,
                    class: "form__input" %>
    <%= form.error :images, "form__error" %>

    <div
      data-image-preview-target="preview"
      class="mt-2 flex flex-wrap gap-4"
    ></div>
  </div>

  <% if product.persisted? && product.images.attached? %>
    <div class="mt-2 grid grid-cols-3 gap-4">
      <% product.images.each do |image| %>
        <% if image.persisted? %>
          <div class="relative">
            <%= image_tag image.variant(resize_to_limit: [300, 300]),
                      class:
                        "w-full rounded-md outline outline-1 -outline-offset-1 outline-gray-300" %>

            <label
              class="form__group form__group--inline absolute right-1 top-1 rounded-md bg-white px-2 py-0.5"
            >
              <%= check_box_tag "product[purge_image_ids][]",
                            id: image.id,
                            value: image.id,
                            class: "form__checkbox" %>
              <span class="form__label">Remove</span>
            </label>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="form__group">
    <%= form.label :category_ids, "Categories", class: "form__label" %>
    <%= form.collection_select :category_ids,
                           business.categories,
                           :id,
                           :name,
                           {},
                           multiple: true,
                           class: "form__input" %>
    <%= form.error :category_ids, "form__error" %>
  </div>

  <footer class="form__footer">
    <%= link_to "Cancel",
            (
              if product.persisted?
                [business, product]
              else
                business_products_path(business)
              end
            ),
            class: "button" %>

    <%= form.submit "Save", class: "button button--action" %>
  </footer>
<% end %>
