<%# locals: (catalog:, product:) %>

<dl class="description-list">
  <div class="description-list__item">
    <dt class="description-list__term">Adult only</dt>
    <dd class="description-list__definition">
      <%= product.adult_only? ? "Yes" : "No" %>
    </dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">Available from</dt>
    <dd class="description-list__definition"><%= product.available_from %></dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">Available until</dt>
    <dd class="description-list__definition"><%= product.available_until %></dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">Code</dt>
    <dd class="description-list__definition"><%= product.code %></dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">Description</dt>
    <dd class="description-list__definition"><%= product.description %></dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">Featured</dt>
    <dd class="description-list__definition">
      <%= product.featured? ? "Yes" : "No" %>
    </dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">Name</dt>
    <dd class="description-list__definition"><%= product.name %></dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">Price</dt>
    <dd class="description-list__definition">
      <%= product.primary_variant.price.format %>
    </dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">Slug</dt>
    <dd class="description-list__definition"><%= product.slug %></dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">Visible</dt>
    <dd class="description-list__definition">
      <%= product.visible? ? "Yes" : "No" %>
    </dd>
  </div>

  <div class="description-list__item">
    <dt class="description-list__term">Categories</dt>
    <dd class="description-list__definition">
      <%= safe_join(
        product.categories.map do |category|
          link_to category.name, [catalog, category]
        end,
        ", ",
      ) %>
    </dd>
  </div>
</dl>
