<% content_for :title, @product.name %>

<section class="card">
  <header class="card__header card__header--with-actions">
    <div>
      <h2 class="card__heading">Product Details</h2>
      <p class="card__description">See the details of your product below.</p>
    </div>

    <div class="card__actions">
      <%= link_to "Edit",
              edit_business_product_path(@business, @product),
              class: "button button--action" %>
    </div>
  </header>

  <div class="card__body">
    <%= render "products/product", business: @business, product: @product %>
  </div>

  <footer class="card__footer">
    <div class="card__footer--end">
      <%= link_to "Return", business_products_path(@business), class: "button" %>
      <%= button_to "Destroy",
                [@business, @product],
                method: :delete,
                data: {
                  turbo_confirm: "Are you sure you want to destroy this product?",
                },
                class: "button button--danger" %>
    </div>
  </footer>
</section>

<details data-controller="details" class="card">
  <summary class="card__header card__header--with-actions">
    <div>
      <h2 class="card__heading">Property Groups</h2>
      <p class="card__description">
        Here is a list of all associated property groups.
      </p>
    </div>

    <div class="card__actions">
      <%= link_to "New",
              new_business_product_product_property_group_path(@business, @product),
              data: {
                turbo_frame: turbo_frame_id(ProductPropertyGroup.new),
                action: "click->details#open",
              },
              class: "button button--action" %>
    </div>
  </summary>

  <div class="card__body">
    <%= turbo_frame_tag turbo_frame_id(:product_property_groups) do %>
      <% @product.product_property_groups.each do |product_property_group| %>
        <%= render "product_property_groups/product_property_group",
               business: @business,
               product: @product,
               product_property_group: product_property_group %>

        <div class="my-4 border-t border-gray-200"></div>
      <% end %>
    <% end %>

    <%= turbo_frame_tag turbo_frame_id(ProductPropertyGroup.new) %>
  </div>
</details>

<details data-controller="details" class="card">
  <summary class="card__header card__header--with-actions">
    <div>
      <h2 class="card__heading">Option Groups</h2>
      <p class="card__description">
        Here is a list of all associated option groups.
      </p>
    </div>

    <div class="card__actions">
      <%= link_to "New",
              new_business_product_product_option_group_path(@business, @product),
              data: {
                turbo_frame: turbo_frame_id(ProductOptionGroup.new),
                action: "click->details#open",
              },
              class: "button button--action" %>
    </div>
  </summary>

  <div class="card__body">
    <%= turbo_frame_tag turbo_frame_id(:product_option_groups) do %>
      <% @product.product_option_groups.each do |product_option_group| %>
        <%= render "product_option_groups/product_option_group",
               business: @business,
               product: @product,
               product_option_group: product_option_group %>

        <div class="my-4 border-t border-gray-200"></div>
      <% end %>
    <% end %>

    <%= turbo_frame_tag turbo_frame_id(ProductOptionGroup.new) %>
  </div>
</details>
