<%= render @product %>

<%= turbo_frame_tag OptionGroup.new do %>
  <%= link_to "New option group", new_product_option_group_path(@product), data: { turbo_frame: dom_id(OptionGroup.new) } %>
<% end %>

<%= turbo_frame_tag :option_groups do %>
  <% @product.option_groups.each do |option_group| %>
    <%= render option_group %>
  <% end %>
<% end %>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %>
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
</div>
